.button {
  display: inline-block;


}



.contentbox {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.guest {
  float: right;
}

.header {
  background-color: black;
  margin-bottom: 20px;
}

.logo-pic {
position: relative;
margin-top: 20px;
display: block;
border-radius: 100%;
height: 50px;
margin-left: auto;
margin-right: auto;
margin-bottom: 20px;
}

p{
  text-align: center;
}